@page "/register"
@using System.Net.Http.Json
@using LACrimes.Web.Blazor.Shared
@inject HttpClient Http
@inject IJSRuntime jsRuntime
@inject NavigationManager Navigation

<div class="row">
    <div class="col-lg-4 offset-lg-4 pt-4 pb-4 border">
        <div class="mb-3 text-center">
            <h3>Register</h3>
        </div>
        <div class="mb-3">
            <label>Username</label>
            <input @bind="registerRequest.Username" class="form-control" placeholder="Username" />
        </div>
        <div class="mb-3">
            <label>Password</label>
            <input type="password" @bind="registerRequest.Password" class="form-control" placeholder="Password" />
        </div>
        <div class="mb-3 gap-2">
            <button @onclick="RegisterProcedure" class="btn btn-primary">Register</button>
        </div>
    </div>
</div>

@code {
    private AccountDto registerRequest = new AccountDto();

    private async Task RegisterProcedure()
    {
        registerRequest.Role = Model.Enums.Enums.UserType.User;
        if (string.IsNullOrWhiteSpace(registerRequest.Username) || string.IsNullOrWhiteSpace(registerRequest.Password))
        {
            await jsRuntime.InvokeVoidAsync("alert", "Please fill in all fields.");
            return;
        }

        var response = await Http.PostAsJsonAsync("api/Account", registerRequest);
        if (response.IsSuccessStatusCode)
        {
            await jsRuntime.InvokeVoidAsync("alert", "Registration successful!");
            Navigation.NavigateTo("/login");
        }
        else
        {
            var errorMessage = await response.Content.ReadAsStringAsync();
            await jsRuntime.InvokeVoidAsync("alert", $"Registration failed: {errorMessage}");
        }
    }
}

