@page "/quest2"
@using System.Net.Http.Json
@using LACrimes.Web.Blazor.Client.Extensions
@using LACrimes.Web.Blazor.Shared.Quest
@using System.Text.Json
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using System.Net.Http.Headers
@inject HttpClient httpClient
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider authStateProvider
@inject IJSRuntime jsRuntime
@attribute [Authorize(Roles = "User,Admin")]

<h3>Quest2</h3>

<h6>Find the total number of reports per day for a specific “Crm Cd” and time range.</h6>
@if (isLoggingIn)
{
	<div class="spinner-border text-secondary" role="status"></div>
}
else
{

	<div>
		<label>Crm Cd:</label>
		<input @bind="crmCd" type="number" />

		<label>Start Date:</label>
		<input type="date" @bind="startDate" />

		<label>End Date:</label>
		<input type="date" @bind="endDate" />
		<button @onclick="GetCrimeReports">Get Reports</button>
	</div>
	if (isLoading)
	{
		<div class="spinner-border text-secondary" role="status">
		</div>
	}
	if (quest2Reports != null)
	{
		<br />
		<br />
		<text>
			Number of Reports : @quest2Reports.Count()
		</text>
		<br />
		<br />
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Date</th>
					<th>Total Reports</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var report in quest2Reports)
				{
					<tr>
						<td>@report.ReportDate.ToShortDateString()</td>
						<td>@report.TotalReports</td>
					</tr>
				}
			</tbody>
		</table>
	}
}

@code {
	private bool isLoading = false;
	private bool isLoggingIn = true;
	private int crmCd;
	private DateTime startDate = DateTime.Today;
	private DateTime endDate = DateTime.Today;
	private List<Quest2ReportDto>? quest2Reports = null;

	protected override async Task OnInitializedAsync()
	{
		var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
		var token = await customAuthStateProvider.GetToken();
		if (!String.IsNullOrWhiteSpace(token))
		{
			httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("bearer", token);
			isLoggingIn = false;
		}
		else
		{
			await jsRuntime.InvokeVoidAsync("alert", "Please login first");
			navigationManager.NavigateTo("/login", true);
		}
	}

	private async Task GetCrimeReports()
	{
		if (startDate > endDate)
		{
			await jsRuntime.InvokeVoidAsync("alert", "Start date cannot be greater than end date");
			return;
		}

		try
		{
			isLoading = true;
			var response = await httpClient.GetFromJsonAsync<List<Quest2ReportDto>>($"api/quests/Quest2?crmCd={crmCd}&startDate={startDate:yyyy-MM-dd}&endDate={endDate:yyyy-MM-dd}");
			isLoading = false;
			if (response is null || !response.Any())
			{
				await jsRuntime.InvokeVoidAsync("alert", "No data found");
				return;
			}
			quest2Reports = response;
		}
		catch (HttpRequestException ex)
		{
			await jsRuntime.InvokeVoidAsync("alert", "Error: " + ex.Message);
			isLoading = false;
		}
		catch (JsonException)
		{
			await jsRuntime.InvokeVoidAsync("alert", "No report Found");
			isLoading = false;
		}
		catch (Exception ex)
		{
			await jsRuntime.InvokeVoidAsync("alert", ex.Message);
			isLoading = false;
		}
	}
}
