@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Components.Authorization

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LA Crimes</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <AuthorizeView Roles="User,Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <span class="nav-link">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Quests
                    </span>
                    <nav class="nav flex-column ms-3">
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Quest1">Quest 1</NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Quest2">Quest 2</NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Quest3">Quest 3</NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Quest4">Quest 4</NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Quest5">Quest 5</NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Quest6">Quest 6</NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Quest7">Quest 7</NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Quest8">Quest 8</NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Quest9">Quest 9</NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Quest10">Quest 10</NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Quest11">Quest 11</NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Quest12">Quest 12</NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Quest13">Quest 13</NavLink>
                        </div>
                    </nav>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="User,Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="CrimeRecord/edit">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> New crime record
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="SearchCrimeRecord">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Search crime record
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="bulkdataimport">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Bulk data import (Only for dev)
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

    </nav>
</div>
